In [53]:
import pandas  
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.ticker import MultipleLocator

In [59]:
TC = pandas.read_csv("ICUSTAYS.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
ICUSTAYS = pandas.DataFrame(TC)

In [60]:
TC = pandas.read_csv("PATIENTS.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
PATIENTS = pandas.DataFrame(TC)

In [61]:
TC1 = pandas.read_csv("DIAGNOSES_ICD.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
df3 = pandas.DataFrame(TC1)

In [62]:
TC = pandas.read_csv("D_ICD_DIAGNOSES.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
df = pandas.DataFrame(TC)

In [63]:
df1 = df.drop(columns=['ROW_ID'])
df1

,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."
...,...,...,...
14562,V7399,Scrn unspcf viral dis,Special screening examination for unspecified ...
14563,V740,Screening for cholera,Screening examination for cholera
14564,V741,Screening-pulmonary TB,Screening examination for pulmonary tuberculosis
14565,V742,Screening for leprosy,Screening examination for leprosy (Hansen's di...
14566,V743,Screening for diphtheria,Screening examination for diphtheria

In [64]:
df2 = df3.drop(columns=['ROW_ID'])
df2

        SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0              109   172335      1.0     40301
1              109   172335      2.0       486
2              109   172335      3.0     58281
3              109   172335      4.0      5855
4              109   172335      5.0      4254
...            ...      ...      ...       ...
651042       97503   188195      2.0     20280
651043       97503   188195      3.0     V5869
651044       97503   188195      4.0     V1279
651045       97503   188195      5.0      5275
651046       97503   188195      6.0      5569

[651047 rows x 4 columns]

In [65]:
df4 = pandas.merge(df1,df2)
df4 = df4.drop(columns=['SEQ_NUM', 'HADM_ID'])
df4 = df4[df4['LONG_TITLE'].str.contains('Acute kidney failure')]

In [66]:
TC = pandas.read_csv("ADMISSIONS.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
df5 = pandas.DataFrame(TC)

In [67]:
df5

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [68]:
TC = pandas.read_csv("D_LABITEMS.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
D_LABITEMS = pandas.DataFrame(TC)

In [69]:
TC = pandas.read_csv("LABEVENTS.csv")
##df = pandas.DataFrame.from_dict(fm_data, orient='index')
LABEVENTS = pandas.DataFrame(TC)

In [70]:
LABEVENTS

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [75]:
exp1 = pandas.merge(df5, ICUSTAYS, left_on='SUBJECT_ID', right_on='SUBJECT_ID')

In [76]:
exp2 = exp1.drop(columns=['HADM_ID_x', 'LOS', 'LAST_WARDID', 'FIRST_WARDID', 'LAST_CAREUNIT', 'FIRST_CAREUNIT', 'DBSOURCE', 'ICUSTAY_ID', 'HADM_ID_y', 'ROW_ID_y', 'DIAGNOSIS', 'ROW_ID_x', 'ROW_ID_x', 'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'LANGUAGE', 'RELIGION', 'MARITAL_STATUS', 'ETHNICITY', 'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA'])
exp2 = exp2.dropna()

In [77]:
LABEVENTS1 = LABEVENTS.sample(100000)

In [78]:
LABEVENTS1 = LABEVENTS1.drop(columns=['ROW_ID', 'HADM_ID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'FLAG'])

In [79]:
LABEVENTS1

          SUBJECT_ID  ITEMID            CHARTTIME
16518862       27150   51256  2164-12-24 11:37:00
9799524        15968   50817  2133-08-05 21:49:00
21588495       49053   50862  2149-05-24 03:18:00
2736302         4132   51484  2172-04-13 13:45:00
8728660        14240   50863  2151-05-30 06:00:00
...              ...     ...                  ...
21547704       51188   50970  2197-02-10 04:55:00
15244573       25332   51222  2148-03-12 09:22:00
14930616       24840   50949  2142-01-02 11:20:00
4944745         7799   50820  2181-09-12 03:49:00
25278909       81236   51268  2136-07-13 07:10:00

[100000 rows x 3 columns]

In [80]:
exp_o= pandas.merge(LABEVENTS1,D_LABITEMS)
exp_o

,SUBJECT_ID,ITEMID,CHARTTIME,ROW_ID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,27150,51256,2164-12-24 11:37:00,456,Neutrophils,Blood,Hematology,761-7
1,9088,51256,2120-08-28 08:00:00,456,Neutrophils,Blood,Hematology,761-7
2,30284,51256,2113-10-27 19:05:00,456,Neutrophils,Blood,Hematology,761-7
3,31275,51256,2199-06-26 12:13:00,456,Neutrophils,Blood,Hematology,761-7
4,61119,51256,2145-04-30 14:31:00,456,Neutrophils,Blood,Hematology,761-7
...,...,...,...,...,...,...,...,...
99995,24123,51429,2128-01-27 13:34:00,629,Mesothelial cells,Other Body Fluid,Hematology,28544-5
99996,14209,50875,2145-12-16 08:05:00,76,Anti-Parietal Cell Antibody,Blood,Chemistry,26969-6
99997,6214,51517,2131-02-28 11:58:00,717,WBC Casts,Urine,Hematology,5820-6
99998,86580,51528,2120-12-17 12:25:00,728,STDY HOLD,BLOOD,CHEMISTRY,NaN
99999,56985,51247,2201-11-12 08:30:00,447,MacroOvalocytes,Blood,Hematology,10376-2

In [81]:
exp3 = exp_o[exp_o['LABEL'].str.contains('Urine')]
exp3

,SUBJECT_ID,ITEMID,CHARTTIME,ROW_ID,LABEL,FLUID,CATEGORY,LOINC_CODE
60885,27760,51508,2143-10-25 14:25:00,708,Urine Color,Urine,Hematology,5778-6
60886,6960,51508,2126-12-16 16:40:00,708,Urine Color,Urine,Hematology,5778-6
60887,13735,51508,2147-04-14 12:54:00,708,Urine Color,Urine,Hematology,5778-6
60888,22606,51508,2104-08-25 17:45:00,708,Urine Color,Urine,Hematology,5778-6
60889,25475,51508,2124-10-20 16:15:00,708,Urine Color,Urine,Hematology,5778-6
...,...,...,...,...,...,...,...,...
99808,24322,51513,2158-01-03 22:40:00,713,Urine Specimen Type,Urine,Hematology,19159-3
99809,1046,51513,2168-10-29 18:15:00,713,Urine Specimen Type,Urine,Hematology,19159-3
99831,22547,51095,2113-11-29 21:35:00,295,"Phosphate, Urine",Urine,Chemistry,2778-9
99832,2265,51095,2125-11-28 22:00:00,295,"Phosphate, Urine",Urine,Chemistry,2778-9
99948,26967,51091,2178-10-31 08:34:00,291,"Myoglobin, Urine",Urine,Chemistry,2640-1

In [82]:
exp3

,SUBJECT_ID,ITEMID,CHARTTIME,ROW_ID,LABEL,FLUID,CATEGORY,LOINC_CODE
60885,27760,51508,2143-10-25 14:25:00,708,Urine Color,Urine,Hematology,5778-6
60886,6960,51508,2126-12-16 16:40:00,708,Urine Color,Urine,Hematology,5778-6
60887,13735,51508,2147-04-14 12:54:00,708,Urine Color,Urine,Hematology,5778-6
60888,22606,51508,2104-08-25 17:45:00,708,Urine Color,Urine,Hematology,5778-6
60889,25475,51508,2124-10-20 16:15:00,708,Urine Color,Urine,Hematology,5778-6
...,...,...,...,...,...,...,...,...
99808,24322,51513,2158-01-03 22:40:00,713,Urine Specimen Type,Urine,Hematology,19159-3
99809,1046,51513,2168-10-29 18:15:00,713,Urine Specimen Type,Urine,Hematology,19159-3
99831,22547,51095,2113-11-29 21:35:00,295,"Phosphate, Urine",Urine,Chemistry,2778-9
99832,2265,51095,2125-11-28 22:00:00,295,"Phosphate, Urine",Urine,Chemistry,2778-9
99948,26967,51091,2178-10-31 08:34:00,291,"Myoglobin, Urine",Urine,Chemistry,2640-1

In [83]:
exp4 = pandas.merge(exp2,exp3)
exp4

,SUBJECT_ID,ADMITTIME,DISCHTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,ITEMID,CHARTTIME,ROW_ID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,78,2177-02-14 00:16:00,2177-02-17 22:12:00,Medicare,2177-02-13 21:29:00,2177-02-14 04:15:00,2177-02-14 04:10:26,2177-02-15 15:54:43,51075,2177-02-14 04:47:00,275,"Benzodiazepine Screen, Urine",Urine,Chemistry,3390-2
1,107,2121-11-30 19:24:00,2121-12-05 14:18:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2115-02-20 17:42:27,2115-02-21 18:09:14,51508,2115-06-03 07:05:00,708,Urine Color,Urine,Hematology,5778-6
2,107,2121-11-30 19:24:00,2121-12-05 14:18:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2121-11-30 19:24:56,2121-12-01 21:20:57,51508,2115-06-03 07:05:00,708,Urine Color,Urine,Hematology,5778-6
3,107,2121-11-30 19:24:00,2121-12-05 14:18:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2122-05-14 19:38:27,2122-05-16 17:59:33,51508,2115-06-03 07:05:00,708,Urine Color,Urine,Hematology,5778-6
4,107,2122-05-14 19:37:00,2122-05-18 15:11:00,Medicare,2122-05-14 12:29:00,2122-05-14 20:53:00,2115-02-20 17:42:27,2115-02-21 18:09:14,51508,2115-06-03 07:05:00,708,Urine Color,Urine,Hematology,5778-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16664,93806,2136-11-24 16:21:00,2136-12-05 18:45:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2135-06-22 12:54:13,2135-06-23 11:08:57,51075,2136-11-24 12:30:00,275,"Benzodiazepine Screen, Urine",Urine,Chemistry,3390-2
16665,93806,2136-11-24 16:21:00,2136-12-05 18:45:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2136-01-20 18:12:29,2136-01-21 15:13:44,51075,2136-11-24 12:30:00,275,"Benzodiazepine Screen, Urine",Urine,Chemistry,3390-2
16666,93806,2136-11-24 16:21:00,2136-12-05 18:45:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2136-11-24 17:17:05,2136-11-25 11:16:48,51075,2136-11-24 12:30:00,275,"Benzodiazepine Screen, Urine",Urine,Chemistry,3390-2
16667,93831,2116-11-17 18:05:00,2116-12-01 12:27:00,Government,2116-11-17 12:28:00,2116-11-17 19:46:00,2116-11-27 21:10:23,2116-11-29 06:10:53,51508,2116-11-18 05:57:00,708,Urine Color,Urine,Hematology,5778-6
16668,96244,2184-02-01 11:43:00,2184-02-08 13:54:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,51506,2184-02-01 09:55:00,706,Urine Appearance,Urine,Hematology,5767-9

In [84]:
exp4 = exp4.dropna()
df8 = exp4.drop(columns=['ROW_ID', 'DISCHTIME', 'LABEL', 'ITEMID', 'FLUID', 'CATEGORY', 'LOINC_CODE'])

In [85]:
df8

,SUBJECT_ID,ADMITTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,CHARTTIME
0,78,2177-02-14 00:16:00,Medicare,2177-02-13 21:29:00,2177-02-14 04:15:00,2177-02-14 04:10:26,2177-02-15 15:54:43,2177-02-14 04:47:00
1,107,2121-11-30 19:24:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2115-02-20 17:42:27,2115-02-21 18:09:14,2115-06-03 07:05:00
2,107,2121-11-30 19:24:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2121-11-30 19:24:56,2121-12-01 21:20:57,2115-06-03 07:05:00
3,107,2121-11-30 19:24:00,Medicare,2121-11-30 16:40:00,2121-11-30 19:57:00,2122-05-14 19:38:27,2122-05-16 17:59:33,2115-06-03 07:05:00
4,107,2122-05-14 19:37:00,Medicare,2122-05-14 12:29:00,2122-05-14 20:53:00,2115-02-20 17:42:27,2115-02-21 18:09:14,2115-06-03 07:05:00
...,...,...,...,...,...,...,...,...
16664,93806,2136-11-24 16:21:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2135-06-22 12:54:13,2135-06-23 11:08:57,2136-11-24 12:30:00
16665,93806,2136-11-24 16:21:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2136-01-20 18:12:29,2136-01-21 15:13:44,2136-11-24 12:30:00
16666,93806,2136-11-24 16:21:00,Private,2136-11-24 11:56:00,2136-11-24 19:16:00,2136-11-24 17:17:05,2136-11-25 11:16:48,2136-11-24 12:30:00
16667,93831,2116-11-17 18:05:00,Government,2116-11-17 12:28:00,2116-11-17 19:46:00,2116-11-27 21:10:23,2116-11-29 06:10:53,2116-11-18 05:57:00
16668,96244,2184-02-01 11:43:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,2184-02-01 09:55:00

In [86]:
df8 = pandas.merge(df8,PATIENTS)
df8 = pandas.merge(df8,df4)

In [87]:
df8= df8[df8['GENDER'].str.contains('F')]
df8.insert(0, 'CASE_ID', range(1, 1+ len(df8)))

In [88]:
df8= df8[df8['INSURANCE'].str.contains('Private')]

In [89]:
df8

,CASE_ID,SUBJECT_ID,ADMITTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,CHARTTIME,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE
2220,1779,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2221,1780,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2222,1781,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2223,1782,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2224,1783,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-08-11 23:11:20,2174-08-16 21:32:38,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68132,43201,83180,2187-12-28 16:31:00,Private,2187-12-28 13:37:00,2187-12-28 18:25:00,2188-12-27 19:56:11,2188-12-29 02:20:03,2187-01-23 12:42:00,42147,F,2127-09-19 00:00:00,NaN,NaN,NaN,0,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68221,43253,99319,2139-08-29 05:18:00,Private,2139-08-29 03:48:00,2139-08-29 06:32:00,2139-08-29 05:19:20,2139-08-30 20:38:54,2140-02-26 23:00:00,46341,F,2074-10-21 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
68225,43254,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2148-08-03 12:22:50,2148-08-05 18:16:35,2148-08-30 08:28:00,44553,F,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68226,43255,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2149-02-07 15:43:25,2149-02-13 08:19:27,2148-08-30 08:28:00,44553,F,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68229,43258,96244,2184-02-01 11:43:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,2184-02-01 09:55:00,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"

In [90]:
df9 = df8

In [91]:
df9

,CASE_ID,SUBJECT_ID,ADMITTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,CHARTTIME,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE
2220,1779,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2221,1780,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2222,1781,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2223,1782,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
2224,1783,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-08-11 23:11:20,2174-08-16 21:32:38,2174-05-04 10:00:00,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68132,43201,83180,2187-12-28 16:31:00,Private,2187-12-28 13:37:00,2187-12-28 18:25:00,2188-12-27 19:56:11,2188-12-29 02:20:03,2187-01-23 12:42:00,42147,F,2127-09-19 00:00:00,NaN,NaN,NaN,0,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68221,43253,99319,2139-08-29 05:18:00,Private,2139-08-29 03:48:00,2139-08-29 06:32:00,2139-08-29 05:19:20,2139-08-30 20:38:54,2140-02-26 23:00:00,46341,F,2074-10-21 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
68225,43254,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2148-08-03 12:22:50,2148-08-05 18:16:35,2148-08-30 08:28:00,44553,F,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68226,43255,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2149-02-07 15:43:25,2149-02-13 08:19:27,2148-08-30 08:28:00,44553,F,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...
68229,43258,96244,2184-02-01 11:43:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,2184-02-01 09:55:00,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"

In [92]:
df9['Activity1'] ='ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIME_ICU/Hematology_TIME' 
df9['Timestamp1'] = df9['ADMITTIME']+'/'+ df9['EDREGTIME']+'/'+df9['EDOUTTIME']+'/'+df9['INTIME']+'/'+df9['OUTTIME']+'/'+df9['CHARTTIME']
df9

,CASE_ID,SUBJECT_ID,ADMITTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,CHARTTIME,ROW_ID,...,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Activity1,Timestamp1
2220,1779,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2221,1780,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2222,1781,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2223,1782,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2224,1783,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-08-11 23:11:20,2174-08-16 21:32:38,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68132,43201,83180,2187-12-28 16:31:00,Private,2187-12-28 13:37:00,2187-12-28 18:25:00,2188-12-27 19:56:11,2188-12-29 02:20:03,2187-01-23 12:42:00,42147,...,2127-09-19 00:00:00,NaN,NaN,NaN,0,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2187-12-28 16:31:00/2187-12-28 13:37:00/2187-1...
68221,43253,99319,2139-08-29 05:18:00,Private,2139-08-29 03:48:00,2139-08-29 06:32:00,2139-08-29 05:19:20,2139-08-30 20:38:54,2140-02-26 23:00:00,46341,...,2074-10-21 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2139-08-29 05:18:00/2139-08-29 03:48:00/2139-0...
68225,43254,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2148-08-03 12:22:50,2148-08-05 18:16:35,2148-08-30 08:28:00,44553,...,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2148-08-03 12:22:00/2148-08-03 10:29:00/2148-0...
68226,43255,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2149-02-07 15:43:25,2149-02-13 08:19:27,2148-08-30 08:28:00,44553,...,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2148-08-03 12:22:00/2148-08-03 10:29:00/2148-0...
68229,43258,96244,2184-02-01 11:43:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,2184-02-01 09:55:00,45532,...,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2184-02-01 11:43:00/2184-02-01 08:30:00/2184-0...

In [93]:
df9

,CASE_ID,SUBJECT_ID,ADMITTIME,INSURANCE,EDREGTIME,EDOUTTIME,INTIME,OUTTIME,CHARTTIME,ROW_ID,...,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Activity1,Timestamp1
2220,1779,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2221,1780,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-05-30 12:33:30,2174-06-03 15:18:20,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2222,1781,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2223,1782,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-07-12 17:45:08,2174-07-24 21:02:52,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
2224,1783,3019,2174-08-11 23:10:00,Private,2174-08-11 20:16:00,2174-08-12 06:52:00,2174-08-11 23:11:20,2174-08-16 21:32:38,2174-05-04 10:00:00,2858,...,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2174-08-11 23:10:00/2174-08-11 20:16:00/2174-0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68132,43201,83180,2187-12-28 16:31:00,Private,2187-12-28 13:37:00,2187-12-28 18:25:00,2188-12-27 19:56:11,2188-12-29 02:20:03,2187-01-23 12:42:00,42147,...,2127-09-19 00:00:00,NaN,NaN,NaN,0,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2187-12-28 16:31:00/2187-12-28 13:37:00/2187-1...
68221,43253,99319,2139-08-29 05:18:00,Private,2139-08-29 03:48:00,2139-08-29 06:32:00,2139-08-29 05:19:20,2139-08-30 20:38:54,2140-02-26 23:00:00,46341,...,2074-10-21 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2139-08-29 05:18:00/2139-08-29 03:48:00/2139-0...
68225,43254,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2148-08-03 12:22:50,2148-08-05 18:16:35,2148-08-30 08:28:00,44553,...,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2148-08-03 12:22:00/2148-08-03 10:29:00/2148-0...
68226,43255,92393,2148-08-03 12:22:00,Private,2148-08-03 10:29:00,2148-08-03 14:10:00,2149-02-07 15:43:25,2149-02-13 08:19:27,2148-08-30 08:28:00,44553,...,2113-05-16 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,2149-02-28 00:00:00,1,5845,"Ac kidny fail, tubr necr",Acute kidney failure with lesion of tubular ne...,ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2148-08-03 12:22:00/2148-08-03 10:29:00/2148-0...
68229,43258,96244,2184-02-01 11:43:00,Private,2184-02-01 08:30:00,2184-02-01 12:34:00,2184-02-01 11:45:08,2184-02-03 18:48:56,2184-02-01 09:55:00,45532,...,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME/EDREGTIME/EOUTTIME/INTIME_ICU/OUTTIM...,2184-02-01 11:43:00/2184-02-01 08:30:00/2184-0...

In [94]:
df9["Activity"] = df9["Activity1"].str.split("/")
#df9["T"] = df9["Timestamp"].str.split("/")
df10 = df9.explode("Activity").drop(columns=['ADMITTIME', 'EDREGTIME', 'EDOUTTIME','CHARTTIME', 'INTIME', 'OUTTIME', 'Activity1', 'Timestamp1'])
df10.insert(0, 'ID', range(1, 1+ len(df10)))
df10

,ID,CASE_ID,SUBJECT_ID,INSURANCE,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Activity
2220,1,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME
2220,2,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME
2220,3,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EOUTTIME
2220,4,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",INTIME_ICU
2220,5,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",OUTTIME_ICU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68229,6968,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME
68229,6969,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EOUTTIME
68229,6970,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",INTIME_ICU
68229,6971,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",OUTTIME_ICU
68229,6972,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",Hematology_TIME

In [95]:
df10.head(20)

,ID,CASE_ID,SUBJECT_ID,INSURANCE,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Activity
2220,1,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME
2220,2,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME
2220,3,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EOUTTIME
2220,4,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",INTIME_ICU
2220,5,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",OUTTIME_ICU
2220,6,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",Hematology_TIME
2221,7,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME
2221,8,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME
2221,9,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EOUTTIME
2221,10,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",INTIME_ICU
2221,11,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",OUTTIME_ICU
2221,12,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",Hematology_TIME
2222,13,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME
2222,14,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME
2222,15,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EOUTTIME
2222,16,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",INTIME_ICU
2222,17,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",OUTTIME_ICU
2222,18,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",Hematology_TIME
2223,19,1782,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",ADMITTIME
2223,20,1782,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",EDREGTIME

In [96]:

df9["Timestamp"] = df9["Timestamp1"].str.split("/")
df11 = df9.explode("Timestamp").drop(columns=['SUBJECT_ID', 'ADMITTIME','EDREGTIME', 'EDOUTTIME','CHARTTIME', 'INTIME', 'OUTTIME', 'Activity1', 'Activity', 'Timestamp1'])
df11.insert(0, 'ID', range(1, 1+ len(df11)))
df11

,ID,CASE_ID,INSURANCE,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Timestamp
2220,1,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
2220,2,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
2220,3,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
2220,4,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33:30
2220,5,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68229,6968,43258,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 08:30:00
68229,6969,43258,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 12:34:00
68229,6970,43258,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 11:45:08
68229,6971,43258,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-03 18:48:56
68229,6972,43258,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 09:55:00

In [97]:
df11.head(20)

,ID,CASE_ID,INSURANCE,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Timestamp
2220,1,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
2220,2,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
2220,3,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
2220,4,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33:30
2220,5,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18:20
2220,6,1779,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
2221,7,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
2221,8,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
2221,9,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
2221,10,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33:30
2221,11,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18:20
2221,12,1780,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
2222,13,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
2222,14,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
2222,15,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
2222,16,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-07-12 17:45:08
2222,17,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-07-24 21:02:52
2222,18,1781,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
2223,19,1782,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
2223,20,1782,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00

In [98]:
import pandas as pd


event_log = pd.merge(df10, df11, left_on='ID', right_on='ID') # 文件合并，left_on=左侧DataFrame中的列；right_on=右侧DataFrame中的列
event_log = event_log.drop(columns=['CASE_ID_y', 'ID'])
#event_log.to_csv("event_log1.csv")

In [99]:
event_log.head(20)

,CASE_ID_x,SUBJECT_ID,INSURANCE_x,ROW_ID_x,GENDER_x,DOB_x,DOD_x,DOD_HOSP_x,DOD_SSN_x,EXPIRE_FLAG_x,...,GENDER_y,DOB_y,DOD_y,DOD_HOSP_y,DOD_SSN_y,EXPIRE_FLAG_y,ICD9_CODE_y,SHORT_TITLE_y,LONG_TITLE_y,Timestamp
0,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
1,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
2,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
3,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33:30
4,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18:20
5,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
6,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
7,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
8,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
9,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33:30
10,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18:20
11,1780,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
12,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
13,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00
14,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52:00
15,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-07-12 17:45:08
16,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-07-24 21:02:52
17,1781,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-04 10:00:00
18,1782,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10:00
19,1782,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16:00

In [100]:

#event_log['Timestamp_y'].dt.strftime('%Y-%m-%d %H:%M')

#event_log['Timestamp_y']
event_log['Timestamp'] = event_log['Timestamp'].map(lambda x: str(x)[:-3])

In [101]:
event_log

,CASE_ID_x,SUBJECT_ID,INSURANCE_x,ROW_ID_x,GENDER_x,DOB_x,DOD_x,DOD_HOSP_x,DOD_SSN_x,EXPIRE_FLAG_x,...,GENDER_y,DOB_y,DOD_y,DOD_HOSP_y,DOD_SSN_y,EXPIRE_FLAG_y,ICD9_CODE_y,SHORT_TITLE_y,LONG_TITLE_y,Timestamp
0,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 23:10
1,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-11 20:16
2,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-08-12 06:52
3,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-05-30 12:33
4,1779,3019,Private,2858,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,...,F,2148-01-31 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,2174-08-16 00:00:00,1,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2174-06-03 15:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6967,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,...,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 08:30
6968,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,...,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 12:34
6969,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,...,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 11:45
6970,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,...,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-03 18:48
6971,43258,96244,Private,45532,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,...,F,2112-09-12 00:00:00,NaN,NaN,NaN,0,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified",2184-02-01 09:55

In [102]:
event_log.to_csv("Female_Pri.csv")